@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root.dark, :root.dark-orange {
  --background: #0a0a0a;
  --foreground: #ededed;
  color-scheme: dark;
}

:root.light-orange, :root.dark-orange {
  /* Override default Blue with Orange/Amber for our alternative theme */
  --color-blue-50: var(--color-orange-50);
  --color-blue-100: var(--color-orange-100);
  --color-blue-200: var(--color-orange-200);
  --color-blue-300: var(--color-orange-300);
  --color-blue-400: var(--color-orange-400);
  --color-blue-500: var(--color-orange-500);
  --color-blue-600: var(--color-orange-600);
  --color-blue-700: var(--color-orange-700);
  --color-blue-800: var(--color-orange-800);
  --color-blue-900: var(--color-orange-900);
  --color-blue-950: var(--color-orange-950);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
